<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="E:\IBM\Assignment 2\static\home.css">
    
    <style>
        body {font-family: "Times New Roman", Georgia, Serif;}
        h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
        }
        
        body::-webkit-scrollbar {
            display: none;
        }

    </style>
</head>
<body>
    <section class="header">
        <nav>
            
            <div class="nav-links" id="navLinks">
                <i class="fa fa-remove" aria-hidden="true" onclick="hideMenu()"></i>
                  </a>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="signin.html">SignIn</a></li>
                    <li><a href="about.html">About</a></li>
                    
                </ul>
            </div>
            <i class="fa fa-bars" aria-hidden="true" onclick="showMenu()"></i>
        </nav>
        
    </section>

    <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://images.pexels.com/photos/3194519/pexels-photo-3194519.jpeg?cs=srgb&dl=pexels-canva-studio-3194519.jpg&fm=jpg" alt="Table Setting" width="600" height="500px">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Who are we?</h1><br>
      <h5 class="w3-center">An all-in-one customer support solution</h5>
      <p class="w3-large" style="color: #000;">Customer Satisfaction and Customer Engagement. For a business to prosper, the staff must ensure the customers are treated with respect. Any business solely depends on the availability of its customers or clients. If the clients are not contented with the type of service they receive from a specified firm, they will move to other places where they will be satisfied. As such, it is important, as a manager of any business, to ensure customers are treated with respect and are in turn happy.</p>
    </div>
  </div>
  
  <hr>

</body>
</html>